<!--
@model Transporte.Model.Pasajero

<h1>Agregar Pasajero</h1>

<form asp-action="Create">

    <div>
        <label>Identificación</label>
        <input asp-for="Identificacion" class="form-control" />
        <span asp-validation-for="Identificacion"></span>
    </div>

    <div>
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre"></span>
    </div>

    <div>
        <label>Apellidos</label>
        <input asp-for="Apellidos" class="form-control" />
        <span asp-validation-for="Apellidos"></span>
    </div>

    <div>
        <label>Correo</label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Volver
    </a>

</form>
-->