@model Transporte.Model.Unidad

<h1>Agregar Unidad</h1>

<form asp-action="Create">

    <div>
        <label>Placa</label>
        <input asp-for="Placa" class="form-control" />
        <span asp-validation-for="Placa"></span>
    </div>

    <div>
        <label>Modelo</label>
        <input asp-for="Modelo" class="form-control" />
    </div>

    <div>
        <label>Año Fabricación</label>
        <input asp-for="AnioFabricacion"
               type="number"
               class="form-control" />
    </div>

    <div>
        <label>Capacidad Pasajeros</label>
        <input asp-for="CapacidadPasajeros"
               type="number"
               class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Volver
    </a>

</form>